{{ attach_library('andesign_b5/breakpoints-toolbar') }}

<div id="theme-breakpoints-toolbar" class="theme-breakpoints-toolbar d-print-none">
  <div class="theme-breakpoints-toolbar__breakpoint">
    <span class="d-none d-sm-inline">Breakpoint:</span>
    <i></i>
  </div>
  <div class="theme-breakpoints-toolbar__device">
    <span class="d-none d-sm-inline">Device:</span>
    <i></i>
  </div>
  <div class="theme-breakpoints-toolbar__width">
    <span>W<span class="d-none d-sm-inline">idth</span>:</span>
    <i>value</i>px
  </div>
  <div class="theme-breakpoints-toolbar__height">
    <span>H<span class="d-none d-sm-inline">eight</span>:</span>
    <i>value</i>px
  </div>
</div>
